
<h2>Update your information, <%=@user.username%></h2>

<form class="col s12" action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="userparams[username]" placeholder="<%=@user.username%>">
  <input type="text" name="userparams[email]" placeholder="<%=@user.email%>">
  <input type="text" name="userparams[pic_url]" placeholder="<%=@user.pic_url%>">
  <input type="text" name="userparams[bio]" placeholder="<%=@user.bio%>">
  <input class="submit" type="submit" value="Update User Information">
</form>
