<% if current_user %>
<%= render "navbarloggedin" %>
<% else %>
<%= render "navbar" %>
<% end %>

<h1 class="community">Welcome to the Soundtrak Community</h1>
<h2 class="community">Check out some of our other users!</h2>

<div class="row">

  <% @users.each_with_index do |user, index| %>
    <div class="col s3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="<%= user.pic_url %>">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= user.username %><i class="material-icons right">more_vert</i></span>
          <h6><%= user.location %></h6>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Bio<i class="material-icons right">close</i></span>
          <p><%= user.bio %></p>
            <iframe class="result-line" src="<%=user.favorites.sample.spotify_url %>" width="80" height="80" frameborder="0" allowtransparency="true"></iframe >
        </div>
      </div>
    </div>
    <% if index +1 % 4 == 0 %>
      </div>
      <div class ="row">
    <%end%>
  <%end%>
</div>
