<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/ico" href="/app/assets/images/musicnote.ico" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>soundtrak</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  
</head>

<body class="<%= @home_page ? 'homepage' : ''%>">

  <div class = "container">
    <%= yield %>
  </div>
</body>
</html>
