<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/ico" href="/app/assets/images/musicnote.ico" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>soundtrak</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <script type="text/template", id='movieListtempplate'>
    <%% _.each(movies, function(movie) { %>
    <div class="row">
      <div class="col s6">
        <img id="film-poster" src="<%%= movie.get('Poster')%>" alt="We need an API key to get the poster" />
      </div>
      <div class="col s6">
        <h3><%%= movie.get('Title') %></h3>
            <%%= movie.get('Actors') %>
        <p><%%= movie.get('Plot') %><p>
      </div>
    </div>
    <%% }); %>
  </script>

  <script type="text/template", id='albumListtempplate'>
     <table class="table striped">
       <thead>
         <tr>
           <th>Songs</th>
         </tr>
     </thead>
     <%% track = tracks[0]["attributes"]["tracks"]["items"][0]%>
         <tr>
            <%%test = "https://embed.spotify.com/?uri=spotify:track:"+track['id']%>
            <td>
              <iframe src="<%%=test%>" width="200" height="50" frameborder="0" allowtransparency="true"></iframe>
            </td>
         </tr>

     </tbody>

     </table>

  </script>

</head>

<body class="<%= @home_page ? 'homepage' : ''%>">

  <div class = "container">
    <%= yield %>
  </div>
</body>
</html>
